<h2 class="relative">📑 Публикации
    <button 
    mat-raised-button 
    color="primary" 
    (click)="onCreatePostClick()"
    class="relative right-0"
  >
    Создать
  </button>
</h2>
<mat-drawer-container class="min-h-screen mt-5" hasBackdrop="false">
  <mat-drawer opened disableClose="true" mode="push">
    <div class="filters">

      <div class="flex flex-row ">
        <button
          mat-raised-button
          color="primary"
          (click)="onOrderByButtonClick()"
        >
          {{ orderBy ? "Сначала новые" : "Сначала старые" }}
        </button>
      </div>

      <h3 class="mt-4">📂 Фильтры</h3>

      <div class="spinner" *ngIf="tagsLoading"><mat-spinner></mat-spinner></div>
      <mat-chip-listbox
        class="tags"
        multiple
        [(ngModel)]="selectedChips"
        (ngModelChange)="onFilterTagsChange()"
        *ngIf="!tagsLoading"
      >
        <mat-chip-option class="tag" *ngFor="let t of tags" [value]="t" selected>
          {{ t.title }}
        </mat-chip-option>
      </mat-chip-listbox>
    </div>
  </mat-drawer>

  <div class="content">
    <div *ngIf="loading" class="spinner"><mat-spinner></mat-spinner></div>

    <h3 *ngIf="posts.length === 0 && !loading" class="text-center">🏄‍♀️ Постов нет, попробуйте изменить фильтры</h3>
    <div *ngIf="!loading">
      <app-post *ngFor="let post of posts" [post]="post"></app-post>
    </div>
  </div>
</mat-drawer-container>

<mat-paginator
  [pageSize]="5"
  [pageIndex]="0"
  (page)="onPageChange($event)"
  [length]="postsCount ? postsCount : 0"
  [pageSizeOptions]="[10, 50]"
>
</mat-paginator>
