mat-form-field {
  width: 100%;
}

mat-drawer-container mat-drawer {
  box-shadow: none !important;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 350px;
  padding: 10px;
}

.content {
  margin-left: 10px;
  width: 70%;
}
