<section class="container">
  <article>
    <h2>👷 Авторы</h2>

    <div class="author">
      <h3>Frontend-разработчик, руководитель команды</h3> 
      <p>Курпас Артём @Meekrok</p>
    </div>
  
    <div class="author">
      <h3>Frontend-разработчик</h3> 
      <p>Коканов Александр @konroktor</p>
    </div>
  
    <div class="author">
      <h3>Backend-разработчик</h3> 
      <p>Сербинович Матвей @Mepxt4</p> 
    </div>
  </article>

  <img class="logo" src="../../../assets/logo.svg" alt="аякс.люди">
</section>
