<h3 class="m-4">Тэги</h3>
<form class="create-tag-form" [formGroup]="form">
  <mat-form-field class="full-width" >
    <mat-label>Новый тэг</mat-label>
    <input formControlName="newTag" matInput placeholder="Программирование на GoLang">
    <mat-error>
      {{ getTagErrorMessage }}
    </mat-error>
  </mat-form-field>
  <div>
    <button
      mat-raised-button color="primary"
      class="create-tag-btn"
      (click)="onCreateTagClick()">
      Сохранить
    </button>
  </div>
</form>
<mat-form-field class="m-3">
  <mat-label>Поиск</mat-label>
  <input matInput  (keyup)="applyFilter($event)"  #input>
</mat-form-field>


<div class="mat-elevation-z8 m-3">
  <table  mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef >id</th>
      <td  mat-cell *matCellDef="let data">{{ data.id }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Заголовок</th>
      <td mat-cell *matCellDef="let data">{{ data.title }}</td>
    </ng-container>


    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Действие</th>
      <td mat-cell *matCellDef="let data">
        <button
          *ngIf="!data.idDeleted"
          (click)="onDeleteClick($event, data)"
          mat-stroked-button
          color="warn"
          class="relative right-0"
        >
          {{data.isDeleted ? "Тэг удалён" : "Удалить  "}}
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
  </table>
</div>

<div *ngIf="isLoading" class="spinner"><mat-spinner></mat-spinner></div>
