header {
  background-color: var(--main-color-accent);
  height: var(--header-height);
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 100%;
  margin: auto;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
  width: fit-content;
}

.logo img {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

.logo h1 {
  font-size: 1.5em;
}

