<div class="form-layout">
  <div class="form-layout-inner">
    <h3>🧠 Расскажите, чем занимаетесь</h3>
    <div class="form-container">
      <form class="form" [formGroup]="form">

        <mat-chip-listbox 
          class="form-fields" 
          multiple 
          *ngIf="!isLoading" 
          formControlName="interestsChips"
        >
          <mat-chip-option *ngFor="let interest of interests">
            {{ interest.title }}
          </mat-chip-option>
        </mat-chip-listbox>

        <p *ngIf="!isLoading" class="mat-typography text-red-500 text-center text-xs m-0">
          {{ formErrorMessage || interestsChipsErrorMessage }}
        </p>
        <div *ngIf="isLoading" class="spinner"><mat-spinner></mat-spinner></div>

        <button 
          type="submit" 
          mat-raised-button 
          color="primary" 
          [disabled]="isLoading || form.invalid || interestsChips?.value.length == 0"
          (click)="proceed()"
        >
          Продолжить</button>
      </form>
    </div>
  </div>
</div>
