footer {
  height: var(--footer-height);
  background-color: #2B5B6E;
}

.wrapper-h {
  height: 100%;
}

.image-holder {
  z-index: 1000;
  max-width: 200px;
  height: auto;
  background-color: white;
  padding: 10px;
  border-radius: 50px;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: inherit;
}

.right {
  margin-left: auto;
  order: 2;
}