app-register-user, 
app-register-profile-info {
  min-height: 100vh;
}

.form-layout {
  background: var(--form-background);
  border-radius: 5px;
  border: 2px solid var(--main-color-accent);
  width: 450px;
  margin: 50px auto 50px auto;
}

.form-layout-inner {
  padding: 50px 30px 50px 30px;
}

.form-layout-inner h2, h3 {
  text-align: center;
}

h2 {
  font-size: 20pt;
}

.form-container {
  padding-top: 50px;
}

.reg-link {
  font-size: 10pt;
  text-align: center;
}

mat-form-field, button {
  width: 100%;
}

.form button {
  margin-top: 20px;
  height: 40px;
}

mat-form-field, mat-chip-listbox {
  margin-bottom: 15px;
}

.form-fields {
  max-height: 450px;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .form-layout {
    width: 100%;
  }
}
