<app-header></app-header>

<div class="wrapper-v wrapper-h py-10">
  <app-register-user
    *ngIf="registerState === RegisterState.REGISTER_USER"
    (userIdEventEmitter)="onRegisterSuccess($event)"
  >
  </app-register-user>

  <app-register-profile-info
    *ngIf="registerState === RegisterState.REGISTER_PROFILE_INFO"
    [userId]="userId"
    (onUserDataComplete)="onUserDataComplete()"
  >
  </app-register-profile-info>

  <app-register-interests
    *ngIf="registerState === RegisterState.REGISTER_INTERESTS"
    [userId]="userId"
    (onInterestsComplete)="onInterestsComplete()"
  >
  </app-register-interests>

  <!-- <app-register-profile-info></app-register-profile-info> -->
  <!-- <app-register-interests></app-register-interests> -->
</div>

<app-footer></app-footer>
